[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=luca
Group=luca
Type=simple
ExecStart=/usr/local/bin/prometheus \
    --config.file /etc/prometheus/prometheus.yml \
    --storage.tsdb.path /home/luca/.prometheus \
    --web.console.templates=/etc/prometheus/consoles \
    --web.console.libraries=/etc/prometheus/console_libraries

Restart=always
[Install]
WantedBy=multi-user.target